<section class="ftco-section">
	<div class="container">
		<div class=" d-flex">
			<div class="w-100">
				<h3>Get in touch with us</h3>
				<form id="contactForm" name="contactForm" [formGroup]="contactForm">

					<div class=" flex-grow-1 p-2">
						<mat-form-field appearance="outline">
							<mat-label>Full Name</mat-label>
							<input matInput formControlName="fullname" placeholder="Full Name">
						</mat-form-field>
					</div>
					<div>
						<mat-form-field appearance="outline">
							<mat-label>Email Address</mat-label>
							<input matInput formControlName="email" placeholder="Email Address">
							<mat-error class="error-message" *ngIf="ff['email'].hasError('email') ">
								Invail E-mail format
							</mat-error>
							<mat-error class="error-message" *ngIf="ff['email'].hasError('required') ">
								Email is required
							</mat-error>
						</mat-form-field>
					</div>
					<div class=" ">
						<mat-form-field appearance="outline">
							<mat-label>Subject</mat-label>
							<input matInput formControlName="subject" placeholder="Subject">
						</mat-form-field>
					</div>
					<div class="">
						<mat-form-field appearance="outline">
							<mat-label>Message</mat-label>
							<textarea matInput formControlName="message" placeholder="Message" rows="5"></textarea>
							<mat-error class="error-message" *ngIf="ff['message'].hasError('minlength') ">
								at least 10 characters
							</mat-error>
							<mat-error class="error-message" *ngIf="ff['message'].hasError('required') ">
								messsage is required
							</mat-error>
						</mat-form-field>
					</div>
					<div class="">
						<div class="form-group ">
							<button class="mt-2" (click)="send()" mat-raised-button>Send
								Message</button>
						</div>
					</div>
				</form>
			</div>
			<div class="p-2">
				<img class="w-75" src="assets/styles/images/Buffer-rafiki.png">
			</div>
		</div>
	</div>
</section>