.active {
  background-color: #80c52c;
}
.example-button-row {
  display: inline;
}

.example-header-image {
  background-image: url("https://material.angular.io/assets/img/examples/shiba1.jpg");
  background-size: cover;
}
.hoverrr:hover>.showDiv {
  visibility: visible;
}


.showDiv {
visibility: hidden;
}
// showDiv
