<main class="py-4">
  <!-- introBannerHolder -->
  <section
    class="introBannerHolder d-flex w-100 bgCover"
    style="background-image: url(assets/styles/images/b-bg7.jpg)"
  >
    <div class="container">
      <div class="row">
        <div class="col-12 pt-5 text-center">
          <h1 class="headingIV fwEbold playfair mb-4">About Us</h1>
          <ul class="list-unstyled breadCrumbs d-flex justify-content-center">
            <li class="mr-2"><a routerLink="">Home</a></li>
            <li class="mr-2">/</li>
            <li class="active">About</li>
          </ul>
        </div>

        <section
          class="abtSecHolder container pt-xl-24 pb-xl-12 pt-lg-20 pb-lg-10 pt-md-16 pb-md-8 pt-10 pb-5"
        >
          <div class="row">
            <div class="col-12 col-lg-6 pt-xl-12 pt-lg-8">
              <h2 class="playfair fwEbold position-relative mb-7 pb-5">
                <strong class="d-block"
                  ><br />
                  A Minimal Team</strong
                >
                <strong class="d-block">For a Better World</strong>
              </h2>
              <p class="pr-xl-16 pr-lg-10 mb-lg-0 mb-6">
                HandMade is the first platform for buying and selling hand
                crafts. We create a link between the product of your dreams
                found the best quality and the most appropriate price.Handmade
                is used for something that is made by hand only, without any
                usage of machines. On the other hand, custom-made we use when
                something is made especially for somebody – by its
                measures/wishes or for special occasion. What is at the same
                time handmade and custom-made, such is, for example, clothing,
                in most cases has very high price.
              </p>
            </div>
            <div class="col-12 col-lg-6">
              <img
                src="assets/styles/images/aboutus.jpg"
                alt="image description"
                class="img-fluid"
                style="margin-top: 5px"
              />
            </div>
          </div>
        </section>
        <section class="introSec bg-lightGray pt-xl-12 pb-xl-7 pt-10 pb-10">
          <div class="container">
            <div class="row">
              <div class="col-12 col-lg-6 mb-lg-0 mb-6 bgCover">
                <img
                  src="assets/styles/images/claypotter500x335.webp"
                  alt="image description"
                  class="img-fluid"
                />
              </div>
              <div class="col-12 col-lg-6">
                <div id="accordion" class="accordionList pt-lg-12">
                  <div class="card mb-2">
                    <div class="card-header px-xl-5 py-xl-3" id="headingOne">
                      <h5 class="mb-0">
                        <button
                        class="btn btn-light" style="text-align: center; margin-left: 109px;" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample"
                        >
                          connecting people
                          <i class="fas fa-sort-down float-right"></i>
                        </button>
                      </h5>
                    </div>
                    <div
                      id="collapseExample"
                      class="collapse"
                      aria-labelledby="headingOne"
                      data-parent="#accordion"
                    >
                      <div class="card-body px-xl-5 py-0">
                        <p class="mb-7">
                          our mission is to connect people to handmade home
                          decor that is beautiful, high quality, functional, and
                          simple. They want to help people decorate their homes
                          with rustic decor that will help friends and families
                          connect and enjoy each other’s company.
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="card mb-2">
                    <div class="card-header px-xl-5 py-xl-3" id="headingTwo">
                      <h5 class="mb-0">
                        <button
                        class="btn btn-light" style="text-align: center; margin-left: 109px;" data-bs-toggle="collapse" href="#collapseExample1" role="button" aria-expanded="false" aria-controls="collapseExample"

                        >
                          We Build Your Store
                          <i class="fas fa-sort-down float-right"></i>
                        </button>
                      </h5>
                    </div>
                    <div
                      id="collapseExample1"
                      class="collapse"
                      aria-labelledby="headingTwo"
                      data-parent="#accordion"
                    >
                      <div class="card-body px-xl-5 py-0">
                        <p class="mb-7">
                          Once you create a selling account, submit an
                          application to join our Handmade Store. Approval to
                          sell in Handmade comes with a waiver of the
                          Professional selling fee.
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="card mb-2">
                    <div class="card-header px-xl-5 py-xl-3" id="headingThree">
                      <h5 class="mb-0">
                        <button
                        class="btn btn-light" style="text-align: center; margin-left: 109px;" data-bs-toggle="collapse" href="#collapseExample2" role="button" aria-expanded="false" aria-controls="collapseExample"

                        >
                          Privacy Settings
                          <i class="fas fa-sort-down float-right"></i>
                        </button>
                      </h5>
                    </div>
                    <div
                      id="collapseExample2"
                      class="collapse"
                      aria-labelledby="headingThree"
                      data-parent="#accordion"
                    >
                      <div class="card-body px-xl-5 py-0">
                        <p class="mb-7">
                          We and our partners use cookies to store and access
                          personal data such as browsing data for purposes such
                          as serving and personalizing content and advertising
                          and analyzing site traffic. You may find out more
                          about the purposes for which we and our partners use
                          cookies or exercise your preferences by clicking the
                          ‘Cookie Settings’ button below. You can revisit your
                          consent choices or withdraw consent at any time by
                          clicking the link to your cookie settings in our
                          Cookie Policy. We work in coordination with an
                          industry framework, signaling your preferences
                          globally for all participating websites.
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="card mb-2">
                    <div class="card-header px-xl-5 py-xl-3" id="headingFour">
                      <h5 class="mb-0">
                        <button
                        class="btn btn-light" style="text-align: center; margin-left: 109px;" data-bs-toggle="collapse" href="#collapseExample3" role="button" aria-expanded="false" aria-controls="collapseExample"

                        >
                          Celebrations
                          <i class="fas fa-sort-down float-right"></i>
                        </button>
                      </h5>
                    </div>
                    <div
                      id="collapseExample3"
                      class="collapse"
                      aria-labelledby="headingFour"
                      data-parent="#accordion"
                    >
                      <div class="card-body px-xl-5 py-0">
                        <p class="mb-7">
                          celebration is a special enjoyable event that people
                          organize because something pleasant has happened or
                          because it is someone’s birthday or anniversary. … The
                          celebration of something is praise and appreciation
                          which is given to it.
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>

        <section
          class="processStepSec container pt-xl-23 pb-xl-10 pt-lg-20 pb-lg-10 pt-md-16 pb-md-8 pt-10 pb-0"
        >
          <div class="row">
            <header class="col-12 mainHeader mb-3 text-center">
              <h1 class="headingIV playfair fwEblod mb-4">
                <br />
                Delivery Process
              </h1>
            </header>
          </div>
          <div class="row">
            <div class="col-12 pl-xl-23 mb-lg-3 mb-10">
              <div class="stepCol position-relative bg-lightGray py-6 px-6">
                <strong
                  class="mainTitle text-uppercase mt-n8 mb-5 d-block text-center py-1 px-3"
                  >step 01</strong
                >
                <h2 class="headingV fwEblod text-uppercase mb-3">
                  Choose your products
                </h2>
                <p class="mb-5">
                  There are many variations of passages of lorem ipsum
                  available, but the majority have suffered alteration in some
                  form, by injected humour. Both betanin
                </p>
              </div>
            </div>
            <div class="col-12 pr-xl-23 mb-lg-3 mb-10">
              <div
                class="stepCol rightArrow position-relative bg-lightGray py-6 px-6 float-right"
              >
                <strong
                  class="mainTitle text-uppercase mt-n8 mb-5 d-block text-center py-1 px-3"
                  >step 02</strong
                >
                <h2 class="headingV fwEblod text-uppercase mb-3 ">
                  Connect nearest stored
                </h2>
                <p class="mb-5">
                  Lorem Ipsum is simply dummy text of the printing and
                  typesetting industry. Lorem Ipsum has been the industry's
                  standard dummy text ever since the 1500s.
                </p>
              </div>
            </div>
            <div class="col-12 pl-xl-23 mb-lg-3 mb-10">
              <div class="stepCol position-relative bg-lightGray py-6 px-6">
                <strong
                  class="mainTitle text-uppercase mt-n8 mb-5 d-block text-center py-1 px-3"
                  >step 03</strong
                >
                <h2 class="headingV fwEblod text-uppercase mb-3">
                  Share your location
                </h2>
                <p class="mb-5">
                  Sed ut perspiciatis unde omnis iste natus error sit voluptatem
                  accusantium doloremque laudantium, totam rem aperiam, eaque
                  ipsa quae ab illo inventore
                </p>
              </div>
            </div>
            <div class="col-12 pr-xl-23 mb-lg-3 mb-10">
              <div
                class="stepCol rightArrow position-relative bg-lightGray py-6 px-6 float-right"
              >
                <strong
                  class="mainTitle text-uppercase mt-n8 mb-5 d-block text-center py-1 px-3"
                  >step 04</strong
                >
                <h2 class="headingV fwEblod text-uppercase mb-3">
                  Get delivered fast
                </h2>
                <p class="mb-5">
                  Delivery services usually take between 3 – 5 working days to
                  all governorates of Egypt, if the product is in stock, but for
                  products that require modifications/customization or special
                  requirements for the customer, the same period is taken after
                  the product is completed by the merchant/vendor/store
                </p>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </section>
</main>
