<br>
<br>
<div class="container text-center fs-2 fw-bold my-3" *ngIf="profileJson.length==2">
  You are already a Vendor
</div>
<div *ngIf="profileJson.length!==2">
  <div class="container d-flex justify-content-start w-75">
    <div class="row">
      <div class="wrapper img">
        <img class="col-md-6 col-sm-12" style="float: right" alt="" src="assets/svg/becomeVendor.svg" />
        <form enctype="multipart/form-data" method="post" [formGroup]="registerForm" class="col-md-6 col-sm-12">
          <mat-form-field hidden="true" class="mb-3" appearance="outline">
            <mat-label>Client ID</mat-label>
            <input matInput formControlName="id" value="{{IDOfVendor}}" />
          </mat-form-field>
          <mat-form-field class="mb-3" appearance="outline">
            <mat-label>Vendor Name</mat-label>
            <input matInput formControlName="vendorName" placeholder="Vendor Name" />
            <mat-icon matSuffix>person</mat-icon>
            <mat-error *ngFor="let validation of register_validation_messages.username">
              <mat-error class="error-message" *ngIf="ff['vendorName'].hasError(validation.type)">
                {{ validation.message }}
              </mat-error>
            </mat-error>
          </mat-form-field>
          <mat-form-field class="mb-3" appearance="outline">
            <mat-label>Store Name</mat-label>
            <input matInput formControlName="storeName" placeholder="Store Name" />
            <mat-icon matSuffix>person</mat-icon>
            <mat-error *ngFor="let validation of register_validation_messages.StoreName">
              <mat-error class="error-message" *ngIf="ff['storeName'].hasError(validation.type)">
                {{ validation.message }}
              </mat-error>
            </mat-error>
          </mat-form-field>
          <mat-form-field class="mb-3" appearance="outline">
            <mat-label>Phone</mat-label>
            <span matPrefix>+20 &nbsp;</span>
            <input type="tel" matInput formControlName="phone" placeholder="123-456-7890" />
            <mat-icon matSuffix>phone</mat-icon>
            <mat-error *ngFor="let validation of register_validation_messages.phone">
              <mat-error class="error-message" *ngIf="ff['phone'].hasError(validation.type)">
                {{ validation.message }}
              </mat-error>
            </mat-error>
          </mat-form-field>
          <!-- <div layout-margin layout-padding class="col" style="margin-top: 15px"> -->
          <mat-label>Image :</mat-label>
          <button id="uploadButton" class="md-fab md-mini" mat-icon-button (click)="file.click()">
            <mat-icon class="material-icons">attach_file</mat-icon>
          </button>
          <input #file (change)="uploadfile(file.files)" class="ng-hide" id="imageupload" multiple type="file"
            hidden="true" accept="image/*" />
          <div>
            <span class="upload" *ngIf="progress > 0 && !message">
              Loading...
            </span>
            <span class="upload" *ngIf="message">
              {{message}}
            </span>

          </div>

          <mat-form-field class="mb-3" appearance="outline">
            <mat-label>Street</mat-label>
            <input matInput formControlName="street" />
          </mat-form-field>
          <mat-form-field class="mb-3" appearance="outline">
            <mat-label>City</mat-label>
            <input matInput formControlName="city" />
          </mat-form-field>
          <mat-form-field class="mb-3" appearance="outline">
            <mat-label>State</mat-label>
            <input matInput formControlName="state" />
          </mat-form-field>

          <button [disabled]="!registerForm.valid" style="width: 10em; border-radius: 20px !important"
            (click)="submitForm()" color="primary" mat-raised-button>
            Register
          </button>
        </form>
        <div class="col-6" style="
            background-image: url(assets/styles/images/5360844.jpg);
            background-repeat: no-repeat;
            background-size: 65% 80%;
            background-position: right center;
            margin-top: 70px;
          "></div>
      </div>
    </div>
  </div>
</div>