

    <!-- main -->
    <main>
      <!-- introBannerHolder -->
      <section class="introBannerHolder d-flex w-100 bgCover" style="background-image: url(assets/styles/images/vase-with-tulip-desk.jpg);">
          <div class="container">
              <div class="row">
                  <div class="col-12 pt-lg-23 pt-md-15 pt-sm-10 pt-6 text-center " style="margin-top: 60px;">
                      <h1 class="headingIV fwEbold playfair mb-4">Shop</h1>
                      <ul class="list-unstyled breadCrumbs d-flex justify-content-center">
                          <li class="mr-2"><a href="home.html">Home</a></li>
                          <li class="mr-2">/</li>
                          <li class="mr-2"><a href="shop.html">Shop</a></li>
                          <li class="mr-2">/</li>
                          <li class="active">Pellentesque aliquet</li>
                      </ul>
                  </div>
              </div>
          </div>
      </section>
      <!-- twoColumns -->
      <div class="twoColumns container pt-xl-23 pb-xl-20 pt-lg-20 pb-lg-20 py-md-16 py-10 mt-5" >
          <div class="row mb-6">
              <div class="col-12 col-lg-6 order-lg-1">
                  <!-- productSliderImage -->
                  <div class="productSliderImage mb-lg-0 mb-4">
                      <div>
                          <img src="assets/styles/images/home photo/img01.jpg" alt="image description" class="img-fluid w-100">
                      </div>
                      <div>
                          <img src="assets/styles/images/home photo/img02.jpg" alt="image description" class="img-fluid w-100">
                      </div>
                      <div>
                          <img src="assets/styles/images/home photo/img03.jpg" alt="image description" class="img-fluid w-100">
                      </div>
                      <div>
                          <img src="assets/styles/images/home photo/img04.jpg" alt="image description" class="img-fluid w-100">
                      </div>
                  </div>
              </div>
              <div class="col-12 col-lg-6 order-lg-3">
                  <!-- productTextHolder -->
                  <div class="productTextHolder overflow-hidden">
                      <h2 class="fwEbold mb-2">Pellentesque aliquet</h2>
                      <ul class="list-unstyled ratingList d-flex flex-nowrap mb-2">
                          <li class="mr-2 "><a href="javascript:void(0);"><i class="fas fa-star"></i></a></li>
                          <li class="mr-2"><a href="javascript:void(0);"><i class="fas fa-star"></i></a></li>
                          <li class="mr-2"><a href="javascript:void(0);"><i class="fas fa-star"></i></a></li>
                          <li class="mr-2"><a href="javascript:void(0);"><i class="fas fa-star"></i></a></li>
                          <li class="mr-2"><a href="javascript:void(0);"><i class="far fa-star"></i></a></li>
                          <li>( 5 customer reviews )</li>
                      </ul>
                      <strong class="price d-block mb-5 text-green">65.00 $</strong>
                      <p class="mb-5">Aenean id ullamcorper libero. Vestibulum imperdiet nibh. Lorem ullamcorper volutpat. Vestibulum lacinia risus.</p>
                      <ul class="list-unstyled productInfoDetail mb-5 overflow-hidden">
                          <li class="mb-2">Product Code: <span>FA008</span></li>
                          <li class="mb-2">Quantity: <span>68 Items</span></li>
                          <li class="mb-2">Shipping tax: <span>Free</span></li>
                      </ul>
                      <ul class="list-unstyled sizeList d-flex flex-wrap mb-4">
                          <li class="text-uppercase mr-6">Size:</li>
                          <li class="mr-2">
                              <label for="check-1">
                                  <input id="check-1" checked="checked" type="checkbox">
                                  <span class="fake-input"></span>
                                  <span class="fake-label">L</span>
                              </label>
                          </li>
                          <li class="mr-2">
                              <label for="check-2">
                                  <input id="check-2" type="checkbox">
                                  <span class="fake-input"></span>
                                  <span class="fake-label">M</span>
                              </label>
                          </li>
                          <li class="mr-2">
                              <label for="check-3">
                                  <input id="check-3" type="checkbox">
                                  <span class="fake-input"></span>
                                  <span class="fake-label">S</span>
                              </label>
                          </li>
                          <li class="mr-2">
                              <label for="check-4">
                                  <input id="check-4" type="checkbox">
                                  <span class="fake-input"></span>
                                  <span class="fake-label">XL</span>
                              </label>
                          </li>
                          <li class="mr-2">
                              <label for="check-5">
                                  <input id="check-5" type="checkbox">
                                  <span class="fake-input"></span>
                                  <span class="fake-label">XXL</span>
                              </label>
                          </li>
                      </ul>
                      <ul class="list-unstyled colorList d-flex flex-wrap mb-8">
                          <li class="text-uppercase mr-2">Color:</li>
                          <li class="mr-3"><a href="javascript:void(0);" class="red rounded"></a></li>
                          <li class="mr-3"><a href="javascript:void(0);" class="yellow rounded"></a></li>
                          <li class="mr-3"><a href="javascript:void(0);" class="purple rounded"></a></li>
                      </ul>
                      <div class="holder overflow-hidden d-flex flex-wrap mb-6">
                          <input type="number" placeholder="1">
                          <a href="javascript:void(0);" class="btn btnTheme btnShop fwEbold text-white md-round py-3 px-4 py-md-3 px-md-4">Add To Cart <i class="fas fa-arrow-right ml-2"></i></a>
                      </div>
                      <ul class="list-unstyled socialNetwork d-flex flex-wrap mb-sm-11 mb-4">
                          <li class="text-uppercase mr-5 mt-2">SHARE THIS PRODUCT:</li>
                          <li class="mr-4 mt-2"><a href="javascript:void(0);" class="fab fa-facebook-f"></a></li>
                          <li class="mr-4 mt-2"><a href="javascript:void(0);" class="fab fa-google-plus-g"></a></li>
                          <li class="mr-4 mt-2"><a href="javascript:void(0);" class="fab fa-twitter"></a></li>
                          <li class="mr-4 mt-2"><a href="javascript:void(0);" class="fab fa-pinterest-p"></a></li>
                      </ul>
                      <ul class="list-unstyled productInfoDetail mb-3">
                          <li class="mb-2">Categories: <a href="javascript:void(0);">Butter &amp; Eggs,</a> <a href="javascript:void(0);">Fruits,</a> <a href="javascript:void(0);">Milk &amp; Cream,</a> <a href="javascript:void(0);">Vegetables</a></li>
                          <li class="mb-2">Tags: <a href="javascript:void(0);">organic food,</a> <a href="javascript:void(0);">fruits,</a> <a href="javascript:void(0);">juice</a></li>
                          <li>Brand: <a href="javascript:void(0);">KFC</a></li>
                      </ul>
                  </div>
              </div>
          </div>
           <!-- dealSlider -->
        <div class="dealSlider w-100 px-lg-10 px-md-5">
          <div>
              <!-- featureCol -->
              <div class="featureCol position-relative w-100 px-3 mb-sm-8 mb-6">
                  <div class="border">
                      <div class="imgHolder position-relative w-100 overflow-hidden">
                          <img src="assets/styles/images/home photo/img12.jpg" alt="image description" class="img-fluid w-100">
                          <ul class="list-unstyled postHoverLinskList d-flex justify-content-center m-0">
                              <li class="mr-2 overflow-hidden"><a href="javascript:void(0);"
                                      class="icon-heart d-block"></a></li>
                              <li class="mr-2 overflow-hidden"><a href="javascript:void(0);"
                                      class="icon-cart d-block"></a></li>
                              <li class="mr-2 overflow-hidden"><a href="javascript:void(0);"
                                      class="icon-eye d-block"></a></li>
                              <li class="overflow-hidden"><a href="javascript:void(0);"
                                      class="icon-arrow d-block"></a></li>
                          </ul>
                      </div>
                      <div class="text-center py-5 px-2">
                          <span class="title d-block mb-2"><a href="shop-detail.html">Sint Incidunt
                                  Utlabore</a></span>
                          <span class="price d-block fwEbold"><del>75.00 $</del>60.50 $</span>
                          <span
                              class="hotOffer fwEbold text-uppercase text-white position-absolute d-block">HOT</span>
                          <span
                              class="hotOffer green fwEbold text-uppercase text-white position-absolute d-block">Sale</span>
                      </div>
                  </div>
              </div>
          </div>
          <div>
              <!-- featureCol -->
              <div class="featureCol px-3 w-100 mb-sm-8 mb-6">
                  <div class="border">
                      <div class="imgHolder position-relative w-100 overflow-hidden">
                          <img src="assets/styles/images/home photo/img13.jpg" alt="image description" class="img-fluid w-100">
                          <ul class="list-unstyled postHoverLinskList d-flex justify-content-center m-0">
                              <li class="mr-2 overflow-hidden"><a href="javascript:void(0);"
                                      class="icon-heart d-block"></a></li>
                              <li class="mr-2 overflow-hidden"><a href="javascript:void(0);"
                                      class="icon-cart d-block"></a></li>
                              <li class="mr-2 overflow-hidden"><a href="javascript:void(0);"
                                      class="icon-eye d-block"></a></li>
                              <li class="overflow-hidden"><a href="javascript:void(0);"
                                      class="icon-arrow d-block"></a></li>
                          </ul>
                      </div>
                      <div class="text-center py-5 px-2">
                          <span class="title d-block mb-2"><a href="shop-detail.html">Aliquam Quaerat
                                  Voluptem</a></span>
                          <span class="price d-block fwEbold">58.00 $</span>
                      </div>
                  </div>
              </div>
          </div>
          <div>
              <!-- featureCol -->
              <div class="featureCol position-relative w-100 px-3 mb-sm-8 mb-6">
                  <div class="border">
                      <div class="imgHolder position-relative w-100 overflow-hidden">
                          <img src="assets/styles/images/home photo/img14.jpg" alt="image description" class="img-fluid w-100">
                          <ul class="list-unstyled postHoverLinskList d-flex justify-content-center m-0">
                              <li class="mr-2 overflow-hidden"><a href="javascript:void(0);"
                                      class="icon-heart d-block"></a></li>
                              <li class="mr-2 overflow-hidden"><a href="javascript:void(0);"
                                      class="icon-cart d-block"></a></li>
                              <li class="mr-2 overflow-hidden"><a href="javascript:void(0);"
                                      class="icon-eye d-block"></a></li>
                              <li class="overflow-hidden"><a href="javascript:void(0);"
                                      class="icon-arrow d-block"></a></li>
                          </ul>
                      </div>
                      <div class="text-center py-5 px-2">
                          <span class="title d-block mb-2"><a href="shop-detail.html">Neque Porro Quisquam</a></span>
                          <span class="price d-block fwEbold"><del>60.00 $</del>48.00 $</span>
                          <span
                              class="hotOffer green fwEbold text-uppercase text-white position-absolute d-block">Sale</span>
                      </div>
                  </div>
              </div>
          </div>
          <div>
              <!-- featureCol -->
              <div class="featureCol px-3 w-100 mb-sm-8 mb-6">
                  <div class="border">
                      <div class="imgHolder position-relative w-100 overflow-hidden">
                          <img src="assets/styles/images/home photo/img06.jpg" alt="image description" class="img-fluid w-100">
                          <ul class="list-unstyled postHoverLinskList d-flex justify-content-center m-0">
                              <li class="mr-2 overflow-hidden"><a href="javascript:void(0);"
                                      class="icon-heart d-block"></a></li>
                              <li class="mr-2 overflow-hidden"><a href="javascript:void(0);"
                                      class="icon-cart d-block"></a></li>
                              <li class="mr-2 overflow-hidden"><a href="javascript:void(0);"
                                      class="icon-eye d-block"></a></li>
                              <li class="overflow-hidden"><a href="javascript:void(0);"
                                      class="icon-arrow d-block"></a></li>
                          </ul>
                      </div>
                      <div class="text-center py-5 px-2">
                          <span class="title d-block mb-2"><a href="shop-detail.html">Sit voluptatem</a></span>
                          <span class="price d-block fwEbold">65.00 $</span>
                      </div>
                  </div>
              </div>
          </div>
          <div>
              <!-- featureCol -->
              <div class="featureCol position-relative w-100 px-3 mb-sm-8 mb-6">
                  <div class="border">
                      <div class="imgHolder position-relative w-100 overflow-hidden">
                          <img src="assets/styles/images/home photo/img16.jpg" alt="image description" class="img-fluid w-100">
                          <ul class="list-unstyled postHoverLinskList d-flex justify-content-center m-0">
                              <li class="mr-2 overflow-hidden"><a href="javascript:void(0);"
                                      class="icon-heart d-block"></a></li>
                              <li class="mr-2 overflow-hidden"><a href="javascript:void(0);"
                                      class="icon-cart d-block"></a></li>
                              <li class="mr-2 overflow-hidden"><a href="javascript:void(0);"
                                      class="icon-eye d-block"></a></li>
                              <li class="overflow-hidden"><a href="javascript:void(0);"
                                      class="icon-arrow d-block"></a></li>
                          </ul>
                      </div>
                      <div class="text-center py-5 px-2">
                          <span class="title d-block mb-2"><a href="shop-detail.html">Aliquam Quaerat
                                  Voluptatem</a></span>
                          <span class="price d-block fwEbold">80.00 $</span>
                          <span
                              class="hotOffer fwEbold text-uppercase text-white position-absolute d-block">HOT</span>
                      </div>
                  </div>
              </div>
          </div>
          <div>
              <!-- featureCol -->
              <div class="featureCol px-3 w-100 mb-sm-8 mb-6">
                  <div class="border">
                      <div class="imgHolder position-relative w-100 overflow-hidden">
                          <img src="assets/styles/images/home photo/img15.jpg" alt="image description" class="img-fluid w-100">
                          <ul class="list-unstyled postHoverLinskList d-flex justify-content-center m-0">
                              <li class="mr-2 overflow-hidden"><a href="javascript:void(0);"
                                      class="icon-heart d-block"></a></li>
                              <li class="mr-2 overflow-hidden"><a href="javascript:void(0);"
                                      class="icon-cart d-block"></a></li>
                              <li class="mr-2 overflow-hidden"><a href="javascript:void(0);"
                                      class="icon-eye d-block"></a></li>
                              <li class="overflow-hidden"><a href="javascript:void(0);"
                                      class="icon-arrow d-block"></a></li>
                          </ul>
                      </div>
                      <div class="text-center py-5 px-2">
                          <span class="title d-block mb-2"><a href="shop-detail.html">Sit voluptatem</a></span>
                          <span class="price d-block fwEbold">65.00 $</span>
                      </div>
                  </div>
              </div>
          </div>
          <div>
              <!-- featureCol -->
              <div class="featureCol w-100 px-3 mb-sm-8 mb-6">
                  <div class="border">
                      <div class="imgHolder position-relative w-100 overflow-hidden">
                          <img src="assets/styles/images/home photo/img09.jpg" alt="image description" class="img-fluid w-100">
                          <ul class="list-unstyled postHoverLinskList d-flex justify-content-center m-0">
                              <li class="mr-2 overflow-hidden"><a href="javascript:void(0);"
                                      class="icon-heart d-block"></a></li>
                              <li class="mr-2 overflow-hidden"><a href="javascript:void(0);"
                                      class="icon-cart d-block"></a></li>
                              <li class="mr-2 overflow-hidden"><a href="javascript:void(0);"
                                      class="icon-eye d-block"></a></li>
                              <li class="overflow-hidden"><a href="javascript:void(0);"
                                      class="icon-arrow d-block"></a></li>
                          </ul>
                      </div>
                      <div class="text-center py-5 px-2">
                          <span class="title d-block mb-2"><a href="shop-detail.html">Sit voluptatem</a></span>
                          <span class="price d-block fwEbold">65.00 $</span>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      </div>
      <br>
      <div class="container">
          <div class="row">
              <div class="col-12">
                  <!-- tabSetList -->
                  <ul class="list-unstyled tabSetList d-flex justify-content-center mb-9">
                      <li class="mr-md-20 mr-sm-10 mr-2">
                          <a href="#tab1-0" class="active playfair fwEbold pb-2 m-5">Description</a>
                      </li>
                      <li>
                          <a href="#tab2-0" class="playfair fwEbold pb-2 m-5">Reviews ( 2 )</a>
                      </li>
                  </ul>
                  <!-- tab-content -->
                  <div class="tab-content mb-xl-11 mb-lg-10 mb-md-8 mb-5 mt-5">
                      <div id="tab1-0" class="active">
                          <p>Aenean id ullamcorper libero. Vestibulum imperdiet nibh. Lorem ullamcorper volutpat. Vestibulum lacinia risus. Etiam sagittis ullamcorper volutpat. Vestibulum lacinia risus sed ligula malesuada volutpat.Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
                      </div>
                      <div id="tab2-0">
                          <p>Aenean id ullamcorper libero. Vestibulum imperdiet nibh. Lorem ullamcorper volutpat. Vestibulum lacinia risus. Etiam sagittis ullamcorper volutpat. Vestibulum lacinia risus sed ligula malesuada volutpat.Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <!-- featureSec -->
      <section class="featureSec container overflow-hidden pt-xl-12 pb-xl-29 pt-lg-10 pb-lg-14 pt-md-8 pb-md-10 py-5">
          <div class="row">
              <!-- mainHeader -->
              <header class="col-12 mainHeader mb-5 text-center">
                  <h1 class="headingIV playfair fwEblod mb-4">Related products</h1>
              </header>
          </div>
          <div class="row">
              <!-- featureCol -->
              <div class="col-12 col-sm-6 col-lg-3 featureCol position-relative mb-7">
                  <div class="border">
                      <div class="imgHolder position-relative w-100 overflow-hidden">
                          <img src="assets/styles/images/home photo/img13.jpg" alt="image description" class="img-fluid w-100">
                          <ul class="list-unstyled postHoverLinskList d-flex justify-content-center m-0">
                              <li class="mr-2 overflow-hidden"><a href="javascript:void(0);" class="icon-heart d-block"></a></li>
                              <li class="mr-2 overflow-hidden"><a href="javascript:void(0);" class="icon-cart d-block"></a></li>
                              <li class="mr-2 overflow-hidden"><a href="javascript:void(0);" class="icon-eye d-block"></a></li>
                              <li class="overflow-hidden"><a href="javascript:void(0);" class="icon-arrow d-block"></a></li>
                          </ul>
                      </div>
                      <div class="text-center py-5 px-4">
                          <span class="title d-block mb-2"><a href="shop-detail.html">Pellentesque aliquet</a></span>
                          <span class="price d-block fwEbold"><del>80.50 $</del> 68.00 $</span>
                          <span class="hotOffer green fwEbold text-uppercase text-white position-absolute d-block">Sale</span>
                      </div>
                  </div>
              </div>
              <!-- featureCol -->
              <div class="col-12 col-sm-6 col-lg-3 featureCol mb-7">
                  <div class="border">
                      <div class="imgHolder position-relative w-100 overflow-hidden">
                          <img src="assets/styles/images/home photo/img14.jpg" alt="image description" class="img-fluid w-100">
                          <ul class="list-unstyled postHoverLinskList d-flex justify-content-center m-0">
                              <li class="mr-2 overflow-hidden"><a href="javascript:void(0);" class="icon-heart d-block"></a></li>
                              <li class="mr-2 overflow-hidden"><a href="javascript:void(0);" class="icon-cart d-block"></a></li>
                              <li class="mr-2 overflow-hidden"><a href="javascript:void(0);" class="icon-eye d-block"></a></li>
                              <li class="overflow-hidden"><a href="javascript:void(0);" class="icon-arrow d-block"></a></li>
                          </ul>
                      </div>
                      <div class="text-center py-5 px-4">
                          <span class="title d-block mb-2"><a href="shop-detail.html">Pellentesque aliquet</a></span>
                          <span class="price d-block fwEbold">58.00 $</span>
                      </div>
                  </div>
              </div>
              <!-- featureCol -->
              <div class="col-12 col-sm-6 col-lg-3 featureCol position-relative mb-7">
                  <div class="border">
                      <div class="imgHolder position-relative w-100 overflow-hidden">
                          <img src="assets/styles/images/home photo/img15.jpg" alt="image description" class="img-fluid w-100">
                          <ul class="list-unstyled postHoverLinskList d-flex justify-content-center m-0">
                              <li class="mr-2 overflow-hidden"><a href="javascript:void(0);" class="icon-heart d-block"></a></li>
                              <li class="mr-2 overflow-hidden"><a href="javascript:void(0);" class="icon-cart d-block"></a></li>
                              <li class="mr-2 overflow-hidden"><a href="javascript:void(0);" class="icon-eye d-block"></a></li>
                              <li class="overflow-hidden"><a href="javascript:void(0);" class="icon-arrow d-block"></a></li>
                          </ul>
                      </div>
                      <div class="text-center py-5 px-4">
                          <span class="title d-block mb-2"><a href="shop-detail.html">Pellentesque aliquet</a></span>
                          <span class="price d-block fwEbold">60.00 $</span>
                          <span class="hotOffer fwEbold text-uppercase text-white position-absolute d-block">Hot</span>
                      </div>
                  </div>
              </div>
              <!-- featureCol -->
              <div class="col-12 col-sm-6 col-lg-3 position-relative featureCol mb-7">
                  <div class="border">
                      <div class="imgHolder position-relative w-100 overflow-hidden">
                          <img src="assets/styles/images/home photo/img16.jpg" alt="image description" class="img-fluid w-100">
                          <ul class="list-unstyled postHoverLinskList d-flex justify-content-center m-0">
                              <li class="mr-2 overflow-hidden"><a href="javascript:void(0);" class="icon-heart d-block"></a></li>
                              <li class="mr-2 overflow-hidden"><a href="javascript:void(0);" class="icon-cart d-block"></a></li>
                              <li class="mr-2 overflow-hidden"><a href="javascript:void(0);" class="icon-eye d-block"></a></li>
                              <li class="overflow-hidden"><a href="javascript:void(0);" class="icon-arrow d-block"></a></li>
                          </ul>
                      </div>
                      <div class="text-center py-5 px-4">
                          <span class="title d-block mb-2"><a href="shop-detail.html">Pellentesque aliquet</a></span>
                          <span class="price d-block fwEbold"><del>80.50 $</del>65.00 $</span>
                          <span class="hotOffer green fwEbold text-uppercase text-white position-absolute d-block">Sale</span>
                      </div>
                  </div>
              </div>
          </div>
      </section>
      
  </main>

