<!-- <mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side">
    <p>Auto-resizing sidenav</p>
    <p *ngIf="showFiller">Lorem, ipsum dolor sit amet consectetur.</p>
    <button (click)="showFiller = !showFiller" mat-raised-button>
      Toggle extra text
    </button>
  </mat-drawer>

  <div class="example-sidenav-content">
    <button type="button" mat-button (click)="drawer.toggle()">
      Toggle sidenav
    </button>
  </div>
</mat-drawer-container> -->





<!--


  <div class="cartHolder container pt-xl-21 pb-xl-24 py-lg-20 py-md-16 py-10">
      <div class="row">

          <div class="col-12 table-responsive mb-xl-22 mb-lg-20 mb-md-16 mb-10">

              <table class="table cartTable">
                  <thead>
                      <tr>
                          <th scope="col" class="text-uppercase fwEbold border-top-0">id</th>
                          <th scope="col" class="text-uppercase fwEbold border-top-0">name</th>
                          <th scope="col" class="text-uppercase fwEbold border-top-0">desc</th>
                          <th scope="col" class="text-uppercase fwEbold border-top-0">imgage</th>
                      </tr>
                  </thead>

                  <tbody>
                      <tr class="align-items-center" *ngFor="let item of gat; let i = index">

                          <td class="fwEbold border-top-0 border-bottom px-0 py-6">{{item.ID}}</td>
                          <td class="fwEbold border-top-0 border-bottom px-0 py-6">{{item.name}}</td>
                          <td class="fwEbold border-top-0 border-bottom px-0 py-6">{{item.description}}</td>
                          <td class="fwEbold border-top-0 border-bottom px-0 py-6">{{item.imageurl}}</td>


                      </tr>

                  </tbody>
              </table>
          </div>
      </div>
  </div> -->


<!-- 
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
            <label class="float-left">firstName</label>
            <input type="text" formControlName="firstName" class="form-control" />
     </div>
     <div class="form-group">
            <label class="float-left">lastName</label>
            <input type="text" formControlName="lastName" class="form-control" />
     </div>
     <div class="form-group">
            <label class="float-left">email</label>
            <input type="text" formControlName="email" class="form-control" />
     </div>
  </form> -->
