<main>
    <!-- introBannerHolder -->
    <section class="jumbotron jumbotron-fluid bgCover d-flex w-100"
        style="background-image: url(assets/styles/images/Untitled-k.jpg);background-size: cover;height: 400px;width: 1900px;">
        <div class="container">
            <div class="row">
                <div class="col-12 pt-lg-23 pt-md-15 pt-sm-10 pt-6 text-center">
                    <h1 class="headingIV fwEbold playfair pt-5 mb-4">My Cart</h1>
                    <ul class="list-unstyled breadCrumbs d-flex justify-content-center">
                        <li class="mr-sm-2 mr-1"><a routerLink="">Home</a></li>
                        <li class="mr-sm-2 mr-1">/</li>
                        <li class="mr-sm-2 mr-1"><a routerLink="products">Shop</a></li>
                        <li class="mr-sm-2 mr-1">/</li>
                        <li class="active">My Cart</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!-- cartHolder -->

    <ng-container  style="text-align: center;">

        <div class="row">
            <app-item-cart> </app-item-cart>
        </div>
    </ng-container>



</main>
