<p>carts works!</p>

<button class="btn btn-primary"> Click</button>
<script data-require="jquery@3.1.1" data-semver="3.1.1" src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

<script src="../../../assets/styles/js/script.js"></script>
			
<table class="table  table-hover">
    <thead>
      <tr>
        <th scope="col">PRODUCT</th>
        <th scope="col">PRICE</th>
        <th scope="col">QUANTITY</th>
        <th scope="col">TOTAL</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td scope="row" class="d-flex align-items-center border-top-0 border-bottom px-0 py-6">
            <div class="imgHolder">
                <img src="http://htmlbeans.com/html/botanical/images/img58.jpg"     alt="image description" class="img-fluid" width="70px" height="78px">
            </div>
            <span class="title pl-2"><a href="shop-detail.html">Sint Incidunt Utlabore</a></span>
        </td>
        <td>	180.00 $</td>
        <td>Otto</td>
        <td>	180.00 $</td>
        <td> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16">
            <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
          </svg></td>
      </tr>
      <tr>
        <td scope="row" class="d-flex align-items-center border-top-0 border-bottom px-0 py-6">
            <div class="imgHolder">
                <img src="http://htmlbeans.com/html/botanical/images/img74.jpg"     alt="image description" class="img-fluid" width="70px" height="78px">
            </div>
            <span class="title pl-2"><a href="shop-detail.html">Aliquam Quaerat Voluptem</a></span>
        </td>
        <td>	180.00 $</td>
        <td >  <div class="quantity buttons_added">
            <input type="button" value="-" class="minus"><input type="number" step="1"  name="quantity" value="1" title="Qty" class="input-text qty text" size="14" ><input type="button" value="+" class="plus">
        </div></td>
        <td>	180.00 $</td>
        <td>
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16">
                <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
              </svg>
        </td>
      </tr>
      <tr>
        <td scope="row" class="d-flex align-items-center border-top-0 border-bottom px-0 py-6">
            <div class="imgHolder">
                <img src="../../../assets/styles/images/img76.jpg"     alt="image description" class="img-fluid" width="70px" height="78px">
            </div>
            <span class="title pl-2"><a href="shop-detail.html">Pellentesque aliquet</a></span>
        </td>
        <td>	180.00 $</td>
<!-- <input type="button" value="-" class="minus"> 
<input type="button" value="+" class="plus">-->
        <td>    <div >
            <button class="btn btn-outline-success" value="-">-</button> <input class="form-control" type="number" step="1" value="1"  size="5" ><button class="btn btn-outline-success" value="-">+</button> 
        </div></td>
        <td>	180.00 $</td>
        <td><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16">
            <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
          </svg></td>
      </tr>
    </tbody>
  </table>
