<ng-container *ngIf="VendorProducts.length" style="text-align: center;">

    <div class="cartHolder container pt-xl-21 pb-xl-24 py-lg-20 py-md-16 py-10">
        <div class="row">
            <!-- table-responsive -->
            <div class="col-12 table-responsive mb-xl-22 mb-lg-20 mb-md-16 mb-10">

                <main class="container-sm" *ngFor="let item of VendorProducts">
                  <div class="card box">
                    <div class="row g-0">
                      <div class="col-md-3 img img-rounded">
                        <img src="{{ item.image }}" class="col-md-12 img img-rounded"/>
                      </div>
                      <div class="col-md-9">
                        <div class="card-body content">
                          <div class="title">
                            <h3 class="card-title col-9"> Name : {{ item.name }}</h3>
                            <h3 class="card-title col-9">Description : {{ item.description }}</h3>
                            <b class="card-title col-3"> Price : {{ item.price|currency }} </b>
                            <h3 class="card-title col-9">SaleValue : {{ item.saleValue|currency }}</h3>
                            <h3 class="card-title col-9">Quantity : {{ item.quantity }}</h3>
                            <h3 class="card-title col-9">PreparationDays : {{ item.preparationDays }}</h3>
                            <h3 class="card-title col-9">CategoryName : {{ item.category.name}}</h3>
                          </div>
                          <button (click)="removeItem(item.id)"
                            mat-stroked-button
                            color="primary"
                          >

                            Delete
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </main>

            </div>



        </div>
    </div>

</ng-container>
