<div id="pageWrapper ">
  <!-- <div class="container" *ngIf="auth.isLoading$|async;else loaded">
    <app-loading></app-loading>

  </div> -->
  <!-- <ng-template #loaded> -->


    <!-- <app-nav-to-login></app-nav-to-login> -->

  <!-- <app-navbar></app-navbar> -->
  <!-- <app-toolbar></app-toolbar> -->


  <!-- <app-dashbord-nav></app-dashbord-nav> -->

  <app-dashbord-nav></app-dashbord-nav>


  <!-- <app-footer></app-footer> -->


  <router-outlet></router-outlet>
  <app-footer></app-footer>

  <!-- <router-outlet></router-outlet> -->
  <!-- <app-footer></app-footer> -->

<!-- </ng-template> -->

  </div>


