<div class="container   d-flex justify-content-start w-75">
    <div class="row">
        <div class="wrapper img">
            <img class="col-md-6  col-sm-12" style="float: right;" alt="" src="assets/styles/images/3180764.jpg" />
            <form class=" col-md-6 mt-md-5 col-sm-12" method="post" [formGroup]="loginForm" style="height: 100%;">
                <br>
                <mat-form-field class="mb-3" appearance="outline">
                    <mat-label>Email</mat-label>
                    <input type="email" matInput formControlName="email" placeholder="Ex. pat@example.com">
                    <mat-error class="error-message" *ngIf="ff['email'].hasError('email') ">
                        Invail E-mail format
                    </mat-error>
                </mat-form-field>
                <br>
                <mat-form-field class="mr-3 mb-3" appearance="outline">
                    <mat-label>Password</mat-label>
                    <input type="password" matInput formControlName="password" placeholder="Enter your password">

                </mat-form-field>
                <br>
                <button style="width: 10em; border-radius: 20px !important;" class="mb-3" (click)="submitForm()"
                    color="primary" mat-raised-button>Log
                    in &nbsp; <mat-icon matSuffix>login</mat-icon></button>

            </form>
        </div>
    </div>
</div>