<div class="container mt-5" *ngIf="authService.user$ | async as user">
  <div class="row align-items-center profile-header mb-5 text-center text-md-left">
    <div class="col-md-2">
      <img [src]="user.picture" class="rounded-circle img-fluid profile-picture mb-3 mb-md-0" />
    </div>
    <div class="col-md">
      <h2>{{ user.name }}</h2>
      <p class="lead text-muted">{{ user.email }}</p>
    </div>
  </div>

  <!-- صورة مكررة -->
  <!-- <div class=" align-items-center">
    <img [src]="user.picture" class="rounded-circle img-fluid profile-picture " />
  </div> -->

  <form [formGroup]="updateProfile">
    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input matInput disabled value="{{ user.email }}">
    </mat-form-field>

    <table cellspacing="0">
      <tr>
        <td>
          <mat-form-field appearance="outline">
            <mat-label>First name</mat-label>
            <input matInput formControlName="FirstName">
          </mat-form-field>
        </td>
        <td>
          <mat-form-field appearance="outline">
            <mat-label>Last Name</mat-label>
            <input matInput formControlName="LastName">
          </mat-form-field>
        </td>
      </tr>
    </table>
    <mat-form-field class="mb-3" appearance="outline">

      <mat-label>Phone</mat-label>
      <span matPrefix>+20 &nbsp; </span>
      <input type="number" matInput formControlName="phone" placeholder="123-456-7890">
      <mat-icon matSuffix>phone</mat-icon>

    </mat-form-field>
    <br>
    <mat-form-field class="mb-3" appearance="outline">

      <mat-label>Birthdate</mat-label>
      <input matInput formControlName="birthdate" [matDatepicker]="picker">
      <mat-datepicker-toggle matSuffix [for]="picker">
        <mat-icon matDatepickerToggleIcon>cake</mat-icon>

      </mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
      <mat-error class="error-message" *ngIf="ff['birthdate'].hasError('required')">
        Birthdate is Required
      </mat-error>
    </mat-form-field>
    <p>
      <mat-form-field appearance="outline">
        <mat-label>Address</mat-label>
        <textarea matInput placeholder="Ex. 100 Main St"></textarea>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Address 2</mat-label>
        <textarea matInput></textarea>
      </mat-form-field>
    </p>

    <table cellspacing="0">
      <tr>
        <td>
          <mat-form-field appearance="outline">
            <mat-label>City</mat-label>
            <input matInput placeholder="Ex. San Francisco" [value]="userDb?.address">
          </mat-form-field>
        </td>
        <td>
          <mat-form-field appearance="outline">
            <mat-label>State</mat-label>
            <input matInput placeholder="Ex. California">
          </mat-form-field>
        </td>
        <td>
          <mat-form-field appearance="outline">
            <mat-label>Postal Code</mat-label>
            <input matInput #postalCode maxlength="5" placeholder="Ex. 94105">
            <mat-hint align="end">{{postalCode.value.length}} / 5</mat-hint>
          </mat-form-field>
          <br>
        </td>
      </tr>
    </table>
    <button mat-raised-button color="accent" (click)="sendToDb()">Update profile</button>

  </form>








  <div class="row" *ngIf="profileJson">
    <pre class="rounded"><code class="json" (highlight)="profileJson" ></code></pre>
  </div>
</div>