





<!-- <form #userForm="ngForm"(ngSubmit)="(userForm.value)" >
  <div class="row">
    <div class="col-md-6 mb-3">
      <label for="Name">Name</label>
      <input type="text" ngModel name="Name" #Name="ngModel"class="form-control" id="Name" placeholder="" value="" required>
      <div class="alert alert-danger"*ngIf=" Name.touched && !Name.valid" >
        the Name of your product is required
            </div>
    </div>
    <div class="col-md-6 mb-3">
      <label for="Description">Description</label>
      <input type="text" ngModel name="Description" #Description="ngModel"class="form-control" id="Description" placeholder="" value="" required>
      <div class="alert alert-danger"*ngIf=" Description.touched && !Description.valid" >
        the Description of your product is required
      </div>
    </div>
    <div class="col-md-6 mb-3">
      <label for="image">product image</label>
      <input type="file" ngModel name="image" #image="ngModel"class="form-control" id="image" placeholder="" value="" accept="image/png, image/gif, image/jpeg , image/jpg" required>
      <div class="alert alert-danger"*ngIf=" image.touched && !image.valid" >
        your must put iamge for your product
      </div>
    </div>
    <div class="col-md-6 mb-3">
      <label for="price">price</label>
      <input type="number" ngModel name="price" #price="ngModel"class="form-control" id="price" placeholder="" value="" required>
      <div class="alert alert-danger"*ngIf=" price.touched && !price.valid" >
        your product must have price
      </div>
    </div>

    <div class="col-md-6 mb-3">
      <label for="SaleValue">SaleValue</label>
      <input type="number" ngModel name="SaleValue" #SaleValue="ngModel"class="form-control" id="price" placeholder="" value="" >

    </div>

    <div class="col-md-6 mb-3">
      <label for="qty">Quantity</label>
      <input type="number" ngModel name="qty" #qty="ngModel"class="form-control" id="qty" placeholder="" value="" >

    </div>
    <div class="col-md-6 mb-3">
      <label for="PreparationDays">PreparationDays</label>
      <input type="number" ngModel name="PreparationDays" #PreparationDays="ngModel"class="form-control" id="qty" placeholder="" value=""  required>
         <div class="alert alert-danger"*ngIf=" PreparationDays.touched && !PreparationDays.valid" >
                you must tell us how many day It will Belong
      </div>
    </div>
    <div class="col-md-6 mb-3">
      <label for="gty">Category</label>
      <input type="number" ngModel name="gty" #gty="ngModel"class="form-control" id="gty" placeholder="" value=""  required>
         <div class="alert alert-danger"*ngIf=" gty.touched && !gty.valid" >
                you must know what is your gategory for your product
      </div>
    </div>

    <div>
    <button class="btn btn-primary " type="submit" [disabled]="userForm.invalid"> submit</button>
  </div>
  </div>
 -->

<!--

  <div class="mb-3">
    <label for="address">Address</label>
    <input type="text" ngModel name="address" #address="ngModel"class="form-control" id="address" placeholder="" value="" required>
    <div class="alert alert-danger"*ngIf="address.touched && !address.valid" >
       Address is required.
    </div>

  </div>


  <div class="row">
    <div class="col-md-5 mb-3">
      <label for="country">Country</label>
      <select class="custom-select d-block w-100" id="country" required>
        <option>United States</option>
      </select>
      <div class="invalid-feedback">
        Please select a valid country.
      </div>
    </div>
    <div class="col-md-4 mb-3">
      <label for="state">State</label>
      <select class="custom-select d-block w-100" id="state" required>
        <option value="">Choose...</option>
        <option>California</option>
        <option>Pennsylvania</option>
      </select>
      <div class="invalid-feedback">
        Please provide a valid state.
      </div>
    </div>
    <div class="col-md-3 mb-3">
      <label for="zip">Zip</label>
      <input type="text" class="form-control" ngModel name="zip" #zip="ngModel" id="zip" placeholder="" required>
      <div class="alert alert-danger"*ngIf="zip.touched && !zip.valid">
        Zip code required.
      </div>
    </div>
  </div>




  <h4 class="mb-3">Payment</h4>

  <div class="d-block my-3">
    <div class="custom-control custom-radio">
      <input id="credit" name="paymentMethod" type="radio" class="custom-control-input" checked required>
      <label class="custom-control-label" for="credit">Credit card</label>
    </div>
    <div class="custom-control custom-radio">
      <input id="debit" name="paymentMethod" type="radio" class="custom-control-input" required>
      <label class="custom-control-label" for="debit">Debit card</label>
    </div>
    <div class="custom-control custom-radio">
      <input id="paypal" name="paymentMethod" type="radio" class="custom-control-input" required>
      <label class="custom-control-label" for="paypal">PayPal</label>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 mb-3">
      <label for="cc-name">Name on card</label>
      <input type="text" class="form-control" ngModel name="name" #name="ngModel" id="cc-name" placeholder="" required>
      <small class="text-muted">Full name as displayed on card</small>
      <div class="alert alert-danger"*ngIf="name.touched && !name.valid">
        Name on card is required
      </div>
    </div>
    <div class="col-md-6 mb-3">
      <label for="cc-number">Credit card number</label>
      <input type="text" ngModel name="card" #card="ngModel" class="form-control" id="cc-number" placeholder="" required>
      <div class="alert alert-danger"*ngIf="card.touched && !card.valid">
        Credit card number is required
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3 mb-3">
      <label for="cc-expiration">Expiration</label>
      <input type="text" class="form-control" ngModel name="expiration" #expiration="ngModel" id="cc-expiration" placeholder="" required>
      <div class="alert alert-danger"*ngIf="expiration.touched && !expiration.valid">
        Expiration date required
      </div>
    </div>
    <div class="col-md-3 mb-3">
      <label for="cc-cvv">CVV</label>
      <input type="text" class="form-control" ngModel name="cvv" #cvv="ngModel" id="cc-cvv" placeholder="" required>
      <div class="alert alert-danger"*ngIf="cvv.touched && !cvv.valid">
        Security code required
      </div>
    </div>
  </div>
  <hr class="mb-4"> -->

<!-- </form> -->
