<div>
  <div class="container d-flex justify-content-start w-75">
    <div class="row">
      <div class="wrapper img">
        <form method="post" [formGroup]="ordersForm" class="col-md-6 col-sm-12"
          style="margin-top: 15px; margin-left: 50px">
          <div class="mb-3">
            <mat-form-field class="mb-3" appearance="outline">
              <mat-label class="form-label">Name</mat-label>
              <input matInput formControlName="name" placeholder="product Name" class="form-label" />
              <mat-icon matSuffix>shop</mat-icon>
              <mat-error *ngFor="let validation of register_validation_messages.Name">
                <mat-error class="error-message" *ngIf="ff['name'].hasError(validation.type)">
                  {{ validation.message }}
                </mat-error>
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col">
            <mat-form-field lass="mb-3" appearance="outline" style="margin-top: 15px">
              <mat-label>Description</mat-label>
              <textarea matInput formControlName="description" placeholder="your product information here"></textarea>
              <mat-icon matSuffix>description</mat-icon>
              <mat-error *ngFor="
                  let validation of register_validation_messages.Description
                ">
                <mat-error class="error-message" *ngIf="ff['description'].hasError(validation.type)">
                  {{ validation.message }}
                </mat-error>
              </mat-error>
            </mat-form-field>
          </div>
          <div layout-margin layout-padding class="col" style="margin-top: 15px">
            <mat-label>Image :</mat-label>
            <button id="uploadButton" class="md-fab md-mini" mat-icon-button (click)="file.click()">
              <mat-icon class="material-icons">attach_file</mat-icon>
            </button>
            <input formControlName="image" #file (change)="uploadfile(file.files)" class="ng-hide" id="imageupload"
              multiple type="file" hidden="true" accept="image/*" />
          </div>
          <div>
            <span class="upload" *ngIf="progress > 0 && !message">
              Loading...
            </span>
            <span class="upload" *ngIf="message">
              {{message}}
            </span>
          </div>
          <div class="mb-3" style="margin-top: 15px">
            <mat-form-field class="mb-3" appearance="outline">
              <mat-label>price</mat-label>
              <input type="number" matInput formControlName="price" />
              <mat-icon matSuffix>attach_money</mat-icon>
              <mat-error *ngFor="let validation of register_validation_messages.price">
                <mat-error class="error-message" *ngIf="ff['price'].hasError(validation.type)">
                  {{ validation.message }}
                </mat-error>
              </mat-error>
            </mat-form-field>
          </div>
          <div class="mb-3" style="margin-top: 15px">
            <mat-form-field class="mb-3" appearance="outline">
              <mat-label>SaleValue</mat-label>
              <input type="number" matInput formControlName="saleValue" />
              <mat-icon matSuffix>discount</mat-icon>
            </mat-form-field>
          </div>
          <div class="mb-3" style="margin-top: 15px">
            <mat-form-field class="mb-3" appearance="outline">
              <mat-label>Quantity</mat-label>
              <input type="number" matInput formControlName="quantity" />
              <mat-icon matSuffix>pin</mat-icon>
              <mat-error *ngFor="let validation of register_validation_messages.Quantity">
                <mat-error class="error-message" *ngIf="ff['quantity'].hasError(validation.type)">
                  {{ validation.message }}
                </mat-error>
              </mat-error>
            </mat-form-field>
          </div>
          <div class="mb-3" style="margin-top: 15px">
            <mat-form-field class="mb-3" appearance="outline">
              <mat-label>PreparationDays</mat-label>
              <input type="number" matInput formControlName="preparationDays" />
              <mat-icon matSuffix>hourglass_top</mat-icon>
              <mat-error *ngFor="
                  let validation of register_validation_messages.PreparationDays
                ">
                <mat-error class="error-message" *ngIf="ff['quantity'].hasError(validation.type)">
                  {{ validation.message }}
                </mat-error>
              </mat-error>
            </mat-form-field>
          </div>
          <div class="mb-3" style="margin-top: 15px">
            <mat-form-field appearance="outline">
              <mat-label>category</mat-label>
              <mat-select formControlName="categoryID">
                <mat-option></mat-option>
                <mat-option [value]="option.id" *ngFor="let option of gatlist">{{ option.name }}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <button class="mb-2" [disabled]="!ordersForm.valid" style="width: 10em; border-radius: 20px; margin-top: 15px"
            (click)="submitForm()" color="primary" mat-raised-button>
            Submit
          </button>
        </form>
      </div>
    </div>
  </div>
</div>